#Ignore Secrets
secrets.yaml
.HA_VERSION
.cloud
.storage
*.google.token
.google.token
.ring_cache.pickle
.spotify-token-cache
ip_bans.yaml
secrets.yaml
known_devices.yaml

#Ignore Database & Logs
home-assistant_v2.db
home-assistant_v2.db.corr*
home-assistant.log
*.db
*.db-journal
*.sqlite
logs
*.logs
*.log

# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.noload
*.txt
*.xml
*.json
life360.sh
.ip_authenticated.yaml
ip_bans.yaml
.config_entries.json
*.google.token
.google.token
.ring_cache.pickle
.spotify-token-cache
.storage
abodepy_cache.pickle
camera_recording.py
home-assistant.env
home-assistant.*
known_devices.yaml
entity_registry.yaml
secrets.yaml
google_calendars.yaml
SERVICE_ACCOUNT.json
components
deps
tts
www/icons
www/floorplans
www/community
custom_components/hacs
downloads
icloud
dlib_faces
dlib_nofaces
dlib_known_faces
dlib_unknown_faces
.cloud
*.pickle
.pc-session
google*.deb
.homekit.state

# Ignore folders.
.storage
.cloud
.google.token
*.backup
.config_entries.json
deps/
images/
gactions
html5_push_registrations.conf
.ignore
known_devices.yaml
options.xml
OZW_Log.txt
phue-001788290cbf.conf
pyozw.sqlite
secrets.yaml
tts/
zwcfg_0xe32a7bcc.xml
zwscene.xml
#www/
.shopping_list.json
zones.yaml
mqtt_secrets.yaml.disabled
mqtt_secrets.yaml
mqtt_secrets.text
